<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="ConString" value="Data Source=192.168.1.234;Database=slwms_db;User Id=sa;Password=#mob@2023slcm;"/>
		<add key="SENDER_EMAIL" value="workwithaashuu@gmail.com"/>
		<add key="SENDER_PASSWORD" value="yrvh wiey tkby lkvt"/>
		<add key="RECIPIENT_EMAIL" value="ashish.chaudhary@slc-india.com"/>
		<add key="SENDER_NAME" value="AgriSuraksha E-Lock System"/>
		<add key="BCC_EMAILS" value="ashutosh.s@slc-india.com"/>
		<add key="CC_EMAILS" value=""/>
		<add key="ERROR_NOTIFICATION_EMAILS" value="ashutosh.s@slc-india.com"/>
		<add key="SMTP_SERVER" value="smtp.gmail.com"/>
		<add key="SMTP_PORT" value="587"/>

	</appSettings>
</configuration>